<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="features-title"
    style="display: flex; justify-content: center;letter-spacing: 1rem; font-size: 4rem; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 500; padding: 20px; color: white;">
    FEATURES
</div>

<div class="content">
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Cut</p>
        <p class="text">Cut quality is categorized into Fair, Good, Very Good, Premium, and Ideal.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Clarity</p>
        <p class="text"> Clarity is assessed on a scale from I1 (worst) to IF (best), indicating the measurement of how
            clear the diamond is.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Depth</p>
        <p class="text">Total depth percentage is calculated as z divided by the mean of x and y, or as 2 times z
            divided by the sum of x and y.</p>

    </div>
    <!-- end card -->
</div>

<div class="content">
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Color</p>
        <p class="text">Diamond color ranges from J (worst) to D (best).</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Table</p>
        <p class="text">Table width refers to the width of the top of the diamond relative to its widest point and
            ranges from 43% to 95%.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Price</p>
        <p class="text">Prices range from $326 to $18,823 in US dollars.</p>

    </div>
    <!-- end card -->
</div>
<div class="content">
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Length(x)</p>
        <p class="text">Length (x): Ranges from 0 to 10.74 millimeters.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Width (y)</p>
        <p class="text">Width (y): Ranges from 0 to 58.9 millimeters.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="fa-solid fa-gem" style="font-size: 2rem;"></i></div>
        <p class="title">Depth (z)</p>
        <p class="text">Depth (z): Ranges from 0 to 31.8 millimeters.</p>

    </div>
    <!-- end card -->
</div>