<link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css')}}">

<div>
    <nav class="navbar" style="display: flex; align-items: center; padding-top: 2vh;  ">
        <ul class="main-nav" id="js-menu" style="display: flex; justify-content: flex-end; width: 100%; padding-right: 5vw; padding-top: 2vh; align-items: center;">
            <li style="margin-left:40px ;">
                <a href="/" class="logo"><i class="fa-solid fa-gem" style="font-size: 3rem; margin-left: 20px;"></i></a>
            </li>
            <li style="margin-left:40px ;">
                <a href="/features" class="nav-links" style="font-size: 1.5rem; margin-left: 20px;">Features</a>
            </li>
            <li style="margin-left:40px ;">
                <a href="/diamonds" class="nav-links" style="font-size: 1.5rem; margin-left: 20px;">Predict Price</a>
            </li>
        </ul>
    </nav>

    <script src="{{ url_for('static', filename='javascript/navbar.js')}}"></script>
</div>